@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 1rem 8.5rem 0 1rem;
    font-family: Jost;
}

[app-theme="light"] {
    background: #F8F8F7;
}

[app-theme="dark"] {
    background: #1c1917;
}