@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 1rem 8.5rem 0 1rem;
    font-family: Jost;
}

#logo path {
    @apply dark:fill-slate-100;
}

[app-theme="light"] {
    background: #F8F8F7;
}

[app-theme="dark"] {
    background: #1c1917;
}

.swiper-pagination-horizontal {
    @apply absolute flex items-center w-[5.625rem] h-[1.875rem] left-1/2 bg-white rounded-[20px];
}

.swiper-pagination-bullet {
    @apply w-2.5 h-2.5 left-[10px] top-[10px] bg-red-400 rounded-[10px];
}

.swiper-pagination-bullet-active {
    @apply w-2.5 h-2.5 left-[10px] top-[10px] bg-rose-400 rounded-[10px];
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    @apply relative w-[5.625rem] left-[17rem] -top-4;
}